{% extends 'base.html' %} {% block content %}

<div class="row align-items-center">
  <div
    class="col-md-6 text-center text-md-start"
    style="font-family: Montserrat, sans-serif"
  >
    <p style="font-size: 36px; color: #0b1469; margin: 50px 0 0 0">
      You can <strong>contact</strong> me by any of the following means:
    </p>

    <hr />
    <ul style="font-size: 24px; line-height: 50px; text-decoration:none;">
      <li><a href="https://www.facebook.com/wild.card.338658" style="text-decoration:none; color:#f6962f;">Facebook</a></li>
      <li><a href="mailto:sentake101@gmail.com" style="text-decoration:none; color:#f6962f;">Gmail</a></li>
      <li><a href="https://www.instagram.com/newagraphics/" style="text-decoration:none; color:#f6962f;">Instagram</a></li>
      <li><a href="https://github.com/OGnewar" style="text-decoration:none; color:#f6962f;">Github</a></li>
      <li><a href="tel:9846602320" style="text-decoration:none; color:#f6962f;">Phone</a></li>
    </ul>
  </div>

  <div class="col-md-6 text-center mt-4 mt-md-0">
    <img
      src="{{ url_for('static', filename='images/hero3.jpg') }}"
      alt="Graphic Illustration"
      class="img-fluid"
    />
  </div>
</div>
{% endblock %}
