{% extends 'base.html' %} {% block content %}

<h2
  class="text-center"
  style="
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Poppins, sans-serif;
  "
>
  POSTERS
</h2>
<hr />
<h3
  class="text-center"
  style="
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Poppins, sans-serif;
  "
>
  English Posters
</h3>
<!-- IMAGE GRID -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/1.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/1.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/2.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/2.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/3.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/3.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/4.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/4.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/5.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/5.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/6.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/6.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/7.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/7.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/8.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/8.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/9.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/9.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/10.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/10.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/11.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/11.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/12.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/12.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/13.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/13.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/14.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/14.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/15.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/15.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/16.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/16.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/17.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/17.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/18.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/18.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/19.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/19.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/20.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/20.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/21.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/21.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/22.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/22.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/English/23.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/English/23.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" id="modalImage" alt="Expanded poster image" />
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />

<hr />

<h3
  class="text-center"
  style="
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Poppins, sans-serif;
  "
>
  Nepali Posters
</h3>
<!-- IMAGE GRID -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Nepali/1.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Nepali/1.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Nepali/2.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Nepali/2.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Nepali/3.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Nepali/3.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Nepali/4.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Nepali/4.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Nepali/5.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Nepali/5.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Nepali/6.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Nepali/6.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Nepali/7.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Nepali/7.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Nepali/8.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Nepali/8.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Nepali/9.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Nepali/9.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Nepali/10.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Nepali/10.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" id="modalImage" alt="Expanded poster image" />
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br /><br />
<hr />

<h3
  class="text-center"
  style="
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Poppins, sans-serif;
  "
>
  News Posts
</h3>
<!-- IMAGE GRID -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/News/1.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/News/1.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/News/2.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/News/2.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" id="modalImage" alt="Expanded poster image" />
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br /><br />
<hr />

<h3
  class="text-center"
  style="
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Poppins, sans-serif;
  "
>
  Youtube Thumbnails
</h3>
<!-- IMAGE GRID -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Thumbnail/1.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Thumbnail/1.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Thumbnail/2.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Thumbnail/2.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Thumbnail/3.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Thumbnail/3.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Thumbnail/4.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Thumbnail/4.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Thumbnail/5.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Thumbnail/5.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Thumbnail/6.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Thumbnail/6.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Thumbnail/7.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Thumbnail/7.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Thumbnail/8.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Thumbnail/8.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/Posters/Thumbnail/9.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/Posters/Thumbnail/9.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" id="modalImage" alt="Expanded poster image" />
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const modal = document.getElementById("imageModal");
    const modalImage = document.getElementById("modalImage");

    // Set image src from clicked thumbnail
    document.querySelectorAll(".poster-img").forEach((img) => {
      img.addEventListener("click", function () {
        const src = this.getAttribute("data-img-src");
        modalImage.src = src;
      });
    });

    // Close modal when clicking outside the image
    modal.addEventListener("click", function (e) {
      if (!modalImage.contains(e.target)) {
        const modalInstance = bootstrap.Modal.getInstance(modal);
        modalInstance.hide();
      }
    });
  });
</script>

{% endblock %}
