  
  {% extends 'base.html' %} {% block content %}

<h2
  class="text-center"
  style="
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Poppins, sans-serif;
  "
>
  UI-DESIGNS
</h2>
<hr />
<h3
  class="text-center"
  style="
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Poppins, sans-serif;
  "
>
  Shrestha Coffee - Mobile Application
</h3>
<h3
  class=""
  style="
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Poppins, sans-serif;
  "
>
  1. Brief and Task Flow
</h3>
<!-- IMAGE GRID -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a1.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a1.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" id="modalImage" alt="Expanded poster image" />
        </div>
      </div>
    </div>
  </div>
</div>

<h3
  class=""
  style="
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Poppins, sans-serif;
  "
>
  2. Wireframes
</h3>
<!-- IMAGE GRID -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a2.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a2.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
    <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a3.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a3.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
    <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a4.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a4.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
    <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a5.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a5.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" id="modalImage" alt="Expanded poster image" />
        </div>
      </div>
    </div>
  </div>
</div>

<h3
  class=""
  style="
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Poppins, sans-serif;
  "
>
  3. HiFi Design
</h3>
<!-- IMAGE GRID -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a6.5.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a6.5.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a6.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a6.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
    <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a7.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a7.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
    <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a8.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a8.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
    <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a9.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a9.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
    <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a10.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a10.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
    <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a11.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a11.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
    <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a12.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a12.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
    <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a13.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a13.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
    <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a14.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a14.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
    <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a15.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a15.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
    <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/a16.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/a16.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" id="modalImage" alt="Expanded poster image" />
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<hr>
<h3
  class="text-center"
  style="
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Poppins, sans-serif;
  "
>
  ShresthaG - Portfolio Website
</h3>
<!-- IMAGE GRID -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/b1.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/b1.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/b2.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/b2.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" id="modalImage" alt="Expanded poster image" />
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<hr>
<h3
  class="text-center"
  style="
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Poppins, sans-serif;
  "
>
  SkillSync - Resume Ranking Website
</h3>
<!-- IMAGE GRID -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/c1.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/c1.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/c2.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/c2.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/c3.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/c3.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/c4.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/c4.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/c5.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/c5.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/c6.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/c6.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/c7.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/c7.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/c8.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/c8.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/c9.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/c9.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- IMAGE CARD -->
  <div class="col">
    <div class="card h-100">
      <div class="thumbnail-wrapper">
        <img
          src="{{ url_for('static', filename='images/UI Designs/c10.jpg') }}"
          class="card-img-top img-thumbnail poster-img"
          alt="Concert Poster"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          data-img-src="{{ url_for('static', filename='images/UI Designs/c10.jpg') }}"
          data-title="Front"
          data-desc="Front of PioneerHub buiness card."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Business Card Front</h5>
        <p class="card-text">Front of PioneerHub buiness card.</p>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" id="modalImage" alt="Expanded poster image" />
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const modal = document.getElementById("imageModal");
    const modalImage = document.getElementById("modalImage");

    // Set image src from clicked thumbnail
    document.querySelectorAll(".poster-img").forEach((img) => {
      img.addEventListener("click", function () {
        const src = this.getAttribute("data-img-src");
        modalImage.src = src;
      });
    });

    // Close modal when clicking outside the image
    modal.addEventListener("click", function (e) {
      if (!modalImage.contains(e.target)) {
        const modalInstance = bootstrap.Modal.getInstance(modal);
        modalInstance.hide();
      }
    });
  });
</script>

{% endblock %}